@page "{personId:int?}"
@model RazorPro.Pages.Person.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Person)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-page="/Person/Details" asp-route-personId="">Details111</a>
                </td>

            </tr>
        }
    </tbody>
</table>*@


<partial name="_TestPartial" />


<input id="scanInput" type="text" placeholder="SCAN" class="form-control" />

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(function(){
            $("#scanInput").change(function () {
                console.log('ye');

                $.getJSON("?handler=PartDetails", function (data) {
                    //Do something with the data.
                    console.log('yay?');
                }).fail(function (jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log("Request Failed: " + err);
                });
            });
        });
    </script>
}

