@model IEnumerable<DapperPro.Models.IdentityOption.LockoutOption>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllowedForNewUsers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxFailedAccessAttempts)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultLockoutTimeSpan)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AllowedForNewUsers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFailedAccessAttempts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultLockoutTimeSpan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
